<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Image Uploading</title> 
</head> 

<body> 
	<h1>To Upload Image on mongoDB</h1> 
	<hr> 
	<div> 
		<form action="/addcars" method="POST" enctype="multipart/form-data"> 
			<div> 
				<label>Catogery of car</label> 
				<input type="text"  placeholder="Catogery of car"
					 name="catogery" required> 
			</div> 
			<div> 
				<label>Name of car</label> 
				<input type="text"  placeholder="Name of car"
					 name="name" required> 
            </div> 
            <div> 
				<label>Is car available (true or false)</label> 
				<input type="text" 
					 name="available" value="true" readonly required> 
			</div> 
			<div> 
				<label for="image">Upload Image</label> 
				<input type="file" id="image"
					name="image" value="" required> 
			</div> 
			<div> 
				<button type="submit">Submit</button> 
			</div> 
		</form> 
	</div> 

	<hr> 

</body> 

</html> 