<%- include('partials/header') %>


<div class="container">
    <h2>List of all Cars we have :</h2>
    <div>
<% car.forEach(function(res){ %>
    <h3><%=res.name %></h3><br>
    <img src="data:res/<%=res.img.contentType%>;base64, 
					<%=res.img.data.toString('base64')%>"> 
<% }) %>
</div>
</div>