<%- include('partials/header') %>

<div class="container">
    <h1>Please select a car you want to book</h1><br>
<% car.forEach(function(res){ %>
    <a href="/car/<%=res.id %>"><button class="btn btn-success"><%=res.name %></button></a>
<% }) %>
</div>

