<%- include('partials/header') %>

<div class="container">
    <h1>Sedans</h1>
<% car.forEach(function(res){ %>
    
    <h3><%=res.name %></h3>
    <img src="data:res/<%=res.img.contentType%>;base64, 
					<%=res.img.data.toString('base64')%>">
<% }) %>
</div>