<% specificCar.forEach(function(res){ %>
    <h1>So you have Chosen <%=name=res.name %></h1>
    <h1>Catogery <%= cat=res.catogery %></h1>
 <% }) %>
 <h1>Let's calculate your price</h1>

 <form method="POST" action="/specificCar">
    <input type="text" name="category" value="<%= cat %>" readonly>
    <input type="text" name="carName" value="<%= name %>" readonly>
     <input type="number" name="days" placeholder="Enter number of days you want to rent">
     <button type="submit">check</button>
 </form>


